<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
      <title>Reset Password</title>
  </head>
  <body  bgcolor="00dac4">
    <br>
    <form action="/pagina-processa-dados-do-form" method="post">
    <section  class="columns" >
      <div class="column is-half is-offset-one-quarter">
        <h1 class="title">Olá <%= @resource.email %> seja bem vindo! </h1>
        <br>


        <h2 class="subtitle"> <strong> Recuperação de senha o/ </strong> </h2>

         <img src="https://gizmodo.uol.com.br/wp-content/blogs.dir/8/files/2019/10/cj2rrmd7t4ejib84jc77-800x449.jpg">
          <br>
        <br>
        <h3 class="subtitle">
          Caso solicitou alteração de senha de acesso, <strong>click</strong> no botão para prosseguir.
        </h3>
        <p>Se você não solicitou isso, ignore este e-mail.</p>

        <br>
        <div class="buttons">
          <button class="button is-light">Cancelar</button>
          <button class="button is-info"> <%= link_to 'Confirmar', "#{message['redirect-url']}?reset_password_token=#{@token}" %></button>

        </div>
      </div>
     
    </section>
   </form>
 
</body>
</body>
</html>